.wrapper {
  width: 250px;
  height: 200px;
  border: 1px solid var(--gray-color);
  margin: auto;
  padding: 16px;
}

.title {
  margin-bottom: 16px;
  color: var(--gray-color-2);
  font-size: 14px;
  font-weight: 700;
}

.discount {
  color: var(--green-color);
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--gray-color-2);
}

.total-amount {
  padding-top: 16px;
  border-top: 1px solid var(--gray-color);
  font-weight: 700;
  color: var(--black-color);
}

.submit-btn {
  width: 100%;
  background-color: var(--primary);
  color: var(--white-color);
  height: 35px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.message {
  margin: auto;
  max-width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px 16px;
  margin-top: 40px;
  border-radius: 4px;
}

.success {
  color: var(--green-color);
  background-color: var(--light-green-color);
  border-color: #d6e9c6;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
