:root {
  --primary: #aa3a3a;
  --secondary: #c4c6a6;
  --white-color: #ffffff;
  --black-color: #282c3f;
  --gray-color: #d1d5db;
  --gray-color-2: #696b79;
  --light-gray-color: #e5e7eb;
  --red-color: #dc2626;
  --green-color: #10b981;
  --green-color-2: #3c763d;
  --light-green-color: #dff0d8;
}
